<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Géo Quiz</span>
  </mat-toolbar-row>
</mat-toolbar>

<br />
<br />
<br />

<div class="divPerso">
  <button class="bouton" click="newGame()" mat-raised-button>Nouvelle Partie</button>
</div>